/* Navbar */


.arpitpic{
    border-radius: 100px;
    object-fit: cover;
}

.name{
    color: goldenrod;
}

.arp{
    border-radius: 100px;
    object-fit: cover;
}
.ar{
    border-radius: 100px;
    object-fit: fill;
    overflow: hidden;
   

}
.arpi{
    border-radius: 100px;
    object-fit: cover;
}


/* About  */
.about{
    color: rgb(156, 156, 6);
}


/* Certification */
.cer{
color: rgb(176, 132, 20);
}

.card1{
    background-color: rgb(242, 235, 235);
}



/* education */
.edu{
    color: rgb(155, 117, 20);
}
.card2{
     background-color: rgb(255, 245, 180);

}

/* /Projects */
.pro{
     color: rgb(155, 117, 20);
}
.web{
    width: 500px;
}

/* contact */
.contact{
    color: rgb(155, 117, 20);
    margin: 50px;
    padding: 20px;
}